__pycache__/
*.pyc
.ipynb_checkpoints/
mitdb/
*.dat
*.hea
*.atr
models/

SetupSTM32CubeMX*/
stm32cubeide*.exe/
*.exe

SetupSTM32CubeMX*/
stm32cubeide*.exe/
*.exe

# CubeIDE build artifacts
firmware/ecg-mcu/Debug/

# scratch serial captures
run.log
